	<div class="row">
	    <div class="col-sm-12">
	        <div class="well dark">
	            <h3>Footer</h3>
	        </div>
	    </div>
	    <div class="col-sm-8">
	    	<div>
		        Docs: <a href="http://getbootstrap.com/css/" target="_blank"> Bootstrap</a>
		        | <a href="/docs/index" target="_blank">UXP Boilerplate</a>
		        | <a href="http://docs.mixture.io/" target="_blank">Mixture.io</a>
	    	</div>
	    	<div>
	        	Links: <a href="http://bootsnipp.com/" target="_blank"> Bootsnip</a>
	        	| <a href="http://bootswatch.com/" target="_blank">Bootswatch</a>
			</div>
		</div>
		<div class="col-sm-4">
	      	<p class="pull-right">Copyright &copy; Website 2014 </p>
	    </div>
	</div>
	<br>