body {
    font-family: 'Open Sans', sans-serif;
   /* font-family: 'Bitter', serif;*/
    padding-top: 10px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;

}

.well > div > h1, .well > div > h2, .well > div > h3 {
    display: block;
    text-align:center;
}

.well > h1, .well > h2, .well > h3 {
    display: block;
    text-align:center;
}

.well > div {
   width: 100%;
}

.well.dark {
    background-color: #DDD;
    color: #777;
}

.well.image {
    font-family: 'Bitter', serif;
    background-color: #CCC;
    color: #969696;
}

.well.vc200 {
    height: 200px;
    display: flex;
    align-items: center;
}

.well.vc300 {
    height: 300px;
    display: flex;
    align-items: center;
}