body {
    font-family: 'Roboto', sans-serif;
   /* font-family: 'Bitter', serif;*/
    padding-top: 10px;
}

.well > h3 {
    text-align:center;
}

.well.dark {
    background-color: #DDD;
    color: #555;
}

.well.twoh {
    min-height: 200px;
}

.well.twoh > h3 {
    padding-top: 50px;
}

.well.threeh {
    min-height: 300px;
}

.well.threeh > h3 {
    padding-top: 100px;
}


#sidebar.affix {
    position: fixed;
    top:20px;
    min-width: 262.5px;
}

#sidebar.affix-top {

}

#sidebar.affix-bottom {
    position: absolute;
    min-width: 262.5px;
}