

/*CSS needed for sidebar.*/

#sidebar.affix {
    position: fixed;
    top:20px;
    min-width: 262.5px;
}

#sidebar.affix-top {

}

#sidebar.affix-bottom {
    position: absolute;
    min-width: 262.5px;
}