{% block title %}Home{% endblock %}
{% block content %}
        <div class="row">

            <div class="col-md-8">

                <div class="well image vc200">
                    <div>
                        <h1>Hero section</h1>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="well vc200">
                <div>                  
                    <h3>Description</h3>
                    <p>Some text</p>
                    <ul>
                        <li>First thing</li>
                        <li>Second thing</li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <a href="/subpage">
                    <div class="well">
                    <h3>Link to another page</h3>
                    </div>
                </a>
            </div>

        </div>
</div>
{% endblock %}