{% block title %}Survey{% endblock %}
{% block content %} 
        <div class="row">
            <div class="col-lg-3">
                <div id="sidebar" class="well visible-lg-block" data-spy="affix" data-offset-top="110" data-offset-bottom="310">
                    <h3>Floating sidebar</h3>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="well dark">
                    <h3>Subpage</h3>
                </div>
                <a href="#"><div class="well vc200">
                    <div>
                    <h3>Empty link</h3>
                    </div>
                </div></a>
                <div class="well vc200">
                    <div>
                    <h3>DIV</h3>
                    </div>
                </div>
                <div class="well vc200">
                    <div>
                    <h3>DIV</h3>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}