{% block title %}Survey{% endblock %}
{% block content %} 
        <div class="row">

            <div class="col-lg-3">
                <div id="sidebar" class="well threeh visible-lg-block" data-spy="affix" data-offset-top="110" data-offset-bottom="310">
                    <h3>Floating sidebar</h3>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="well dark">
                    <h3>Survey X</h3>
                </div>
                <a href="/applicant"><div class="well twoh">
                    <h3>List of applicants</h3>
                </div></a>
                <div class="well twoh">
                    <h3>Messages</h3>
                </div>
                    <div class="well twoh">
                    <h3>Messages</h3>
                </div>
                    <div class="well twoh">
                    <h3>Messages</h3>
                </div>
            </div>
        </div>
{% endblock %}